<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On-Library | sua melhor plataforma de leitura de livro</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/style.css">

  <!----------Bootstrap4  Css--------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="section-body">
  <header>   
    
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
      <a class="navbar-brand logo-text" href="#">
        <!-- Image and text -->
       <img class ='logo'src="../images/logo.png"  class="d-inline-block align-top" alt="">       
     </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AudioBook</a>
          </li>          
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class=" login" href="#">Login</a>
          </li>                
        </ul>
      </div>     
    </nav>   
  </header>
  <section class="main">
    <div class="banner">
      <div class="jumbotron p-3 p-md-5 text-white rounded ">
        <div class="row">
          <div class="col-md-6 px-0 banner-title">
            <h1 class="display-4 font-italic"><span>“</span>Bons livros não revelam todos os seus segredos de uma vez <span>”</span></h1>
            <p class="lead my-3">A melhor livraria online oferece livros para você adquirir conhecimento.
              Você quer ter ainda mais sucesso? Aprenda a amar, aprender e crescer. Quanto mais você se esforça para melhorar suas habilidades, maior será o retorno que obterá.
            </p>            
          </div>         
      </div>
      </div>
    </div>   
  </section>
  <section class="team">
.   <div class="desktop">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="team-desktop">
              <img src="../static/img/Desktop.png" alt="Desktop">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="desktop-text">
              <h1><span>“</span> Organize seus livro na sua biblioteca online <span>”</span></h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae debitis ipsum minus?
                 Sapiente vitae consequuntur, magni sed cupiditate natus repudiandae porro doloremque 
                 harum quisquam recusandae. Odit voluptates quo, laboriosam dolorem sequi adipisci deserunt 
                 vero ullam officia expedita, sit saepe perferendis eos illum animi minus? Vero architecto 
                 repellendus laborum nihil numquam.</p>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </section>
  <section class="ranking">
    <div class="top-ranking">

    </div>
  </section class = 'publishing'>
    <div class="company">
      
    </div>
  </section>
 

</div>

 







   <!----------Bootstrap4  js--------->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>