


header{
    background: #fff!important;
}


.logo img
{
    width: 90px;
    margin-left: 70px;

}


nav .navbar-nav
{
   margin-right: 90px;
}

nav .navbar-nav .nav-item .nav-link
{
    color: #000;
    font-size: 14px!important;
}